<head>
    <script src='main.js'></script>
    <link rel='stylesheet' type='text/css' href='main.css' >
</head>
<body>
    <div id='container'>
        <a href='http://www.nickharrington.me/'> click here to test redirect </a>
    </div>
</body>
