body {
    background-color: #c287d6;
}
#container {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    width: 75%;
    border-radius: 22px;
}
